/*
css rule 
・プロパティ順はAtoZ
・共通部分と部分的な表記をわける
*/

body{
	color:#666;
	font-family: Verdana, sans-serif;/*VerdanaがあればVernadaを使う、なければsans-serif*/
	margin:0;
}

header{
	background: #eee;
	height: 600px;
	background-image: url(../img/character-small.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

header ul{
	color:#fff;
	margin:0;
	list-style-type: none;
	padding-left: 0;
	text-align: right;
}

header li{
	display: inline-block;
	padding:4px 8px;
	font-size: 12px;
}

header li a{
	text-decoration: none;
	color:inherit;/*inherit -- 親要素のスタイルを反映したい*/
}

header li a:hover{/*疑似クラス -- 要素が特定の状態になったときを表現できる*/
	color:royalblue;
}


section{
	text-align: center;
}

section h1{
	font-weight: normal;
	margin-bottom: 8px;
}

section p{
	margin-top: 0;
	margin-bottom: 0;
}

section h2{
	margin: 0 auto;
	margin-top: 70px;
	width: 300px;
	border-bottom:1px solid #ccc;
}

section h3{
	font-weight: normal;
}

.icon{

	background-color: #eee;
	border-radius: 50%;
    padding: 30px 40px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px gray;/* x y blur color */
	
}

div.works{
	margin: 30px auto;
	width: 400px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

div.works h1, div.works h3, div.works p{
	text-align: left;
}


footer{
	width: 400px;
	margin: 0 auto;
}